/*------------------------------------*\
	$$ Just Checking - Base Styles
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Scaffolding
  * Headers
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
body {
  width: 100%;
  padding: 190px 0 20px 0;
}

.home {
  padding: 220px 0 20px 0;
}

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

/*------------------------------------*\
  $ Contact Map
\*------------------------------------*/
/*------------------------------------*\
  $ Images
\*------------------------------------*/
img {
  max-width: 100%;
}

.trophy-wrapper {
  position: fixed;
  top: 34px;
  left: 50%;
  z-index: 3;
  margin-left: -79px;
  width: 159px;
  height: 159px;
  background-color: white;
  border: 1px solid #222222;
  border-width: 2px;
  border-radius: 100%;
  -webkit-transition: all .2s ease-out;
}

.trophy {
  position: relative;
  top: 8px;
  left: 50%;
  margin-left: -69px;
  width: 139px;
  height: 139px;
  background-color: white;
  border: 1px solid #222222;
  border-radius: 100%;
  padding: 5px;
}

.trophy-fixed {
  position: fixed;
  top: -15px;
  -webkit-transform: scale(0.6);
}

.section-header {
  position: relative;
  padding: 25px 0 0 0;
  margin-bottom: 0;
  border-top: 1px solid #222222;
  border-bottom: none;
}
.section-header a {
  text-decoration: none;
  color: #222222;
}
.section-header a:hover {
  color: darkred;
}

.section-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background-color: #222222;
  position: absolute;
  top: -10px;
}

.date li:first-child {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  line-height: 1em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
