/*------------------------------------*\
	$$ Just Checking - Base Styles
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Scaffolding
  * Headers
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
* {
  box-sizing: border-box; }

html {
  border-top: 6px solid #222222; }

body {
  width: 100%; }

/*------------------------------------*\
  $ Contact Map
\*------------------------------------*/
@media only screen and (min-width: 940px) {
  .container {
    max-width: 960px;
    margin: 0 auto; } }
/*------------------------------------*\
  $ Images
\*------------------------------------*/
img {
  max-width: 100%; }

.trophy-wrapper {
  position: absolute;
  top: 67px;
  left: 50%;
  margin-left: -78px;
  width: 157px;
  height: 157px;
  background-color: white;
  border: 1px solid #222222;
  border-width: 2px;
  border-radius: 100%; }

.trophy {
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -69px;
  width: 139px;
  height: 139px;
  background-color: white;
  border: 1px solid #222222;
  border-radius: 100%;
  padding: 5px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }
