/*------------------------------------*\
	$$ Just Checking - Base Styles
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Scaffolding
  * Headers
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "bourbon/bourbon";
@import "neat/neat";
@import "modules/_variables"; 





/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

html {
  // border-top: 6px $borderStyle $grayDark;
}

body {
	width: 100%;
  padding: $padding*19 0 $padding*2 0;
}

.home {
  padding: $padding*22 0 $padding*2 0;
}

.container {
  @include outer-container;
}




/*------------------------------------*\
  $ Contact Map
\*------------------------------------*/

@media only screen and (min-width: 940px) {

  .container {
    // max-width: 960px;
    // margin: 0 auto;
    // background: url('../images/gareth.png') no-repeat top right;
    // background-size: 20%;
  }

  .contact > .container {
    // position: relative;
    // width: 100%;  
    // min-height: 700px;
    // background: url('../images/map.png') no-repeat top right;
  }

  .contact-map-label {
    // position: absolute;
    // top: 180px;
    // right: 282px;
  }

}




/*------------------------------------*\
  $ Images
\*------------------------------------*/

img {
  max-width: 100%;
}

.trophy-wrapper {
  position: fixed;
  top: 34px;
  left: 50%; 
  z-index: 3;
  margin-left: -79px;
  width: 159px;
  height: 159px;
  background-color: white;
  border: $border;
  border-width: 2px;
  border-radius: 100%;
  // 
  -webkit-transition: all .2s ease-out;
}

.trophy {
  position: relative;
  top: 8px;
  left: 50%;
  margin-left: -69px;
  width: 139px;
  height: 139px;
  background-color: white;
  border: $border;
  border-radius: 100%;
  padding: $padding/2;
}

.trophy-fixed {
  position: fixed;
  top: -15px;
  -webkit-transform: scale(0.6);
}




.section-header {
  position: relative;
  padding: $padding*2.5 0 0 0;
  margin-bottom: 0;
  border-top: $border;
  border-bottom: none;

  a {
    text-decoration: none;
    color: $grayDark;

    &:hover {
      color: darkred;
    }
  }
}

.section-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background-color: $grayDark;
  position: absolute; 
  top: -10px;
}




.date {
  li:first-child {
    //font-family: 'Roboto Slab', serif; 
    font-size: 1.6em;
    line-height: 1em;
    font-weight: 600;
  }
}




.clearfix {
  @include clearfix;
}