/*------------------------------------*\
	$$ Just Checking - Base Styles
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Scaffolding
  * Headers
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "modules/_variables"; 





/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

* {
  box-sizing: border-box;
}

body {
	max-width: 960px; // 960px
	margin: 0 auto;
	padding: 0 $padding $padding*2 $padding; 
}




/*------------------------------------*\
  $ Contact Map
\*------------------------------------*/

.contact > .container {
  position: relative;
  width: 100%;  
  min-height: 700px;
  background: url('../images/map.png') no-repeat top right;
}

.contact-map-label {
  position: absolute;
  top: 180px;
  right: 282px;
}




/*------------------------------------*\
  $ Images
\*------------------------------------*/

img {
  max-width: 100%;
}




/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}