---
layout: default
title: Home
class: home
---

<h1>Hello, I am Gareth Davies, a front-end web developer based in Birmingham, England...</h1>

<h2 class="sub-title">Lorem ipsum dolor sit amet, <a href="/work">work examples</a>, consectet uer about me elit, <a href="/blog">my blog</a> dolor sit amet, <a href="/contact">contact me</a> uer adipiscing elit...</h2>

<div class="posts section-margin Grid Grid--gutters3x Grid--full large-Grid--fit">

	{% for post in site.posts limit:6 %}
  
  <div class="Grid-cell">

  	<h3 class="section-header"><a href="{{ post.url }}">{{ post.title }}</a></h3>

		<p><b>{{ post.date | date: "%-d %B %Y" }}</b> | <a href="#">4 Comments</a></p>

		{{ post.excerpt }}

  </div>

  {% if forloop.index == 3 %}

	</div>

	<div class="Grid Grid--gutters3x Grid--full large-Grid--fit">

	{% endif %}

	{% endfor %}

</div>