@import "../neat/neat-helpers";

$max-width: em(960) !default; // Max-width of the outer container

// Breakpoints
$large: new-breakpoint(min-width 940px 12);
$medium: new-breakpoint(min-width 768px 12);
$small: new-breakpoint(min-width 480px 12);
$tiny: new-breakpoint(min-width 320px 12);