/*------------------------------------*\
$$ Just Checking - Buttons
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
button,
.button {
  border: none;
  background: #eeeeee;
  line-height: 2.6em;
  border-bottom: 1px solid #222222;
  min-width: 100px;
  padding: 0 20px; }

button:hover,
.button:hover {
  border: none;
  background: #cccccc; }
