/*------------------------------------*\
$$ Just Checking - Menu
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Links
\*------------------------------------*/
a {
  color: darkred;
}
a:hover {
  color: #222222;
}

.circle-link {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #222222;
  border-radius: 100%;
  text-align: center;
  color: #222222;
  line-height: 2.3em;
}

.circle-link:hover {
  border-color: darkred;
  color: darkred;
}
