/*------------------------------------*\
$$ Just Checking - Lists
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Default Lists
  * No Styling
  * Inline List
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Default Lists
\*------------------------------------*/
ul,
ol {
  line-height: 1.6;
  margin-top: 17px;
  margin-bottom: 17px;
  list-style-position: inside;
}

ul li ul,
ul li ol {
  margin-left: 20px;
  margin-bottom: 0;
}

/*------------------------------------*\
  $ No Styling
\*------------------------------------*/
.no-list-styling {
  list-style: none;
  padding: 0;
}
.no-list-styling li {
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
  $ Inline List
\*------------------------------------*/
.inline-list,
.inline-list > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inline-list > li {
  float: left;
}
