/*------------------------------------*\
$$ Just Checking - Menu
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Main Menu
\*------------------------------------*/
.main-menu,
.main-menu > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-menu {
  display: none;
  margin-bottom: 40px; }
  .main-menu li {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #cccccc; }
    .main-menu li a {
      width: 100%;
      display: inline-block;
      text-decoration: none;
      color: #222;
      font-size: 1.8rem;
      font-weight: 300; }
  .main-menu li:last-child {
    border-bottom: 1px solid #cccccc; }

/*------------------------------------*\
  $ Menu Icon
\*------------------------------------*/
.icon-menu {
  margin: 20px 0;
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  padding-left: 1.25em;
  color: #999999; }

.icon-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 0.8rem;
  border-top: 2.4rem double #000;
  border-bottom: 0.8rem solid #000; }

@media only screen and (min-width: 480px) {
  /* Menu Icon */
  .icon-menu {
    display: none; }

  /* Main Menu */
  .main-menu {
    display: block;
    width: 100%;
    margin: 40px 0; }
    .main-menu li {
      width: auto;
      border: none;
      float: left;
      padding: 0 10px; }
      .main-menu li a {
        width: auto;
        text-decoration: none;
        color: #222;
        font-size: 1.8rem;
        font-weight: 300; }
        .main-menu li a:hover {
          font-weight: 500; }
    .main-menu li:first-child {
      padding-left: 0; }
    .main-menu li:last-child {
      border: none; }
    .main-menu .main-menu-active a {
      font-weight: 500; } }
