/*------------------------------------*\
$$ Just Checking - Menu
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
.main-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-top: 6px solid #222222; }

/*------------------------------------*\
  $ Main Menu
\*------------------------------------*/
.main-menu,
.main-menu > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-menu {
  display: none;
  background-color: white; }
  .main-menu li {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #222222;
    line-height: 8rem; }
    .main-menu li a {
      text-decoration: none;
      color: #222;
      font-size: 1.8rem;
      font-weight: 300; }
    .main-menu li .circle-link {
      position: relative;
      top: 2.2rem; }
  .main-menu li:last-child {
    border-bottom: 1px solid #222222; }

/*------------------------------------*\
  $ Menu Icon
\*------------------------------------*/
.icon-menu {
  margin: 20px 0;
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  padding-left: 1.25em;
  color: #999999; }

.icon-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 0.8rem;
  border-top: 2.4rem double #000;
  border-bottom: 0.8rem solid #000; }

@media only screen and (min-width: 480px) {
  /* Menu Icon */
  .icon-menu {
    display: none; }

  /* Main Menu */
  .main-menu {
    display: block;
    width: 100%; }
    .main-menu li {
      width: auto;
      border: none;
      float: left;
      padding: 0 10px; }
      .main-menu li a {
        text-decoration: none;
        color: #222;
        font-size: 1.8rem;
        font-weight: 300; }
    .main-menu li:first-child {
      padding-left: 0; }
    .main-menu li:last-child {
      border: none; }

  /* You are here */
  .home .main-menu-active a {
    font-weight: 500; }

  .about .main-menu-active a {
    font-weight: 500; }

  .blog .main-menu-active a {
    font-weight: 500; }

  .contact .main-menu-active a {
    font-weight: 500; }

  .work .main-menu-active a {
    font-weight: 500; } }
