/*------------------------------------*\
	$$ Just Checking - Typography
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Scaffolding
  * Headers
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #222; }

p,
li,
label,
button {
  font-size: 1.5rem;
  /* =14px */
  line-height: 1.6em;
  font-weight: 300; }

/*------------------------------------*\
  $ Headers
\*------------------------------------*/
h1,
h2,
h3,
.main-menu a {
  font-family: 'Roboto Slab', serif;
  line-height: 1.2em; }

h1 {
  font-size: 3.6rem;
  /* =36px */
  font-weight: 300; }

h2 {
  font-size: 2.8rem;
  /* =42px */
  font-weight: 300; }

h3 {
  font-size: 2.2rem;
  /* =26px */
  font-weight: 300; }

h4 {
  font-size: 1.8rem;
  /* =26px */
  font-weight: 500; }

h5 {
  font-size: 1.6rem;
  /* =26px */
  font-weight: 500; }

.sub-title-parent {
  margin-bottom: 0; }

.sub-title {
  margin-top: 0;
  font-weight: 300; }

/*------------------------------------*\
  $ Styles
\*------------------------------------*/
b {
  font-weight: 800; }

/*------------------------------------*\
  $ >940
\*------------------------------------*/
@media only screen and (min-width: 940px) {
  h1 {
    font-size: 6.2rem;
    /* =62px */ }

  h2 {
    font-size: 4.2rem;
    /* =42px */ }

  h3 {
    font-size: 2.6rem;
    /* =26px */ }

  h4 {
    font-size: 2rem;
    /* =26px */ }

  h5 {
    font-size: 1.6rem;
    /* =26px */ } }
