/*------------------------------------*\
	$$ Just Checking - Typography
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Scaffolding
  * Headers
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
html,
body {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

p,
li,
label,
button,
.highlight {
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 300;
}

/*------------------------------------*\
  $ Headers
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 1em;
}

h1 {
  letter-spacing: -0.04em;
  margin: 40px 0;
  line-height: 1.1em;
}

h2 {
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 1.4em;
}

.sub-title {
  width: 100%;
  text-align: center;
  margin-top: -1em;
  font-weight: 300;
  font-size: 2em;
  border: none;
}

.home .sub-title {
  text-align: left;
  margin-top: 0;
}

/*------------------------------------*\
  $ Styles
\*------------------------------------*/
b {
  font-weight: 400;
}

/*------------------------------------*\
  $ >480
\*------------------------------------*/
@media only screen and (min-width: 480px) {
  h1 {
    font-size: 4.2em;
    /* =62px */
  }

  h2 {
    font-size: 4.2em;
    /* =42px */
  }

  h3 {
    font-size: 2.6em;
    /* =26px */
  }

  h4 {
    font-size: 2em;
    /* =26px */
  }

  h5 {
    font-size: 1.6em;
    /* =26px */
  }
}
/*------------------------------------*\
  $ >768
\*------------------------------------*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5em;
    /* =62px */
  }

  h2 {
    font-size: 4.2em;
    /* =42px */
  }

  h3 {
    font-size: 2.6em;
    /* =26px */
  }

  h4 {
    font-size: 2em;
    /* =26px */
  }

  h5 {
    font-size: 1.6em;
    /* =26px */
  }
}
/*------------------------------------*\
  $ >940
\*------------------------------------*/
@media only screen and (min-width: 940px) {
  h1 {
    font-size: 4.4em;
    /* =62px */
    text-align: center;
  }

  .home h1 {
    text-align: left;
  }

  h2 {
    font-size: 2.2em;
    /* =42px */
  }

  h3 {
    font-size: 1.4em;
    /* =26px */
  }

  h4 {
    font-size: 1em;
    /* =26px */
  }
}
