/*------------------------------------*\
	$$ Just Checking - Utilities
\*------------------------------------*/
/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Clearfix
 	* Helper classes
 		* Visibility
 		* Floaters
 		* Readable Widths
 		* Pointer Events
 	* Padding
 		* Remove Padding
 		* Add Padding
 		* Extra Padding
 		* IE8 Support
 	* Margins
 		* Remove Margin
 		* Add Margin
 		* Extra Margin
 		* Half Margin
 	* Text
 		* Indent
 		* Text alignment
 		* Text overflow
 	* Backgrounds
 		* Hover
 		* No background
 	* Borders
 		* No Border
 		* Border radius
 	* Links
 		* No decoration
 	* Lists
 	* Positioning
 		* Relative
 		* Absolute
 	* Display
 		* Block
 		* Inline block
 		* Inline
 	* Cursors
 		* Pointer
 	* Status
 		* Disabled
 	* Remove Styles
 	* Widths
 		* 100%
 		* 66%
 		* 50%
 		* 45%
 		* 33%
 	* Media Queries
 		* <= 767px
 			* Visibility
 			* Padding
 			* Margin
 			* Text Alignment
 			* Borders
 		* >= 768px
 			* Readable Widths
 			* Padding
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Helper classes
\*------------------------------------*/
/* Visibility */
.hide,
.lt-ie9 .ie8-hide {
  display: none;
}

.invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Floaters */
.right,
.always-right {
  float: right !important;
}

.left,
.always-left {
  float: left !important;
}

/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/* Remove Padding */
.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

/* Add Padding */
.padding {
  padding: 10px !important;
}

.padding-left,
input.padding-left {
  padding-left: 10px !important;
}

.padding-right {
  padding-right: 10px !important;
}

.padding-top {
  padding-top: 10px !important;
}

.padding-bottom {
  padding-bottom: 10px !important;
}

/* Extra Padding */
.extra-padding {
  padding: 20px !important;
}

.extra-padding-right {
  padding-right: 20px !important;
}

.extra-padding-left,
input.extra-padding-left {
  padding-left: 20px !important;
}

.extra-padding-bottom {
  padding-bottom: 20px !important;
}

/* IE8 Support */
.lt-ie9 .extra-padding-top {
  padding-top: 38px !important;
}

/*------------------------------------*\
  $ Margin
\*------------------------------------*/
/*  */
.section-margin {
  margin-top: 60px;
}

.related-margin {
  margin-top: 30px;
}

/* Remove Margin */
.no-margin {
  margin: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* Add Margin */
.margin {
  margin: 10px !important;
}

.margin-left {
  margin-left: 10px !important;
}

.margin-right {
  margin-right: 10px !important;
}

.margin-top {
  margin-top: 10px !important;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

/* Extra Margin */
.extra-margin {
  margin: 20px !important;
}

.extra-margin-left {
  margin-left: 20px !important;
}

.extra-margin-right {
  margin-right: 20px !important;
}

.extra-margin-top {
  margin-top: 20px !important;
}

.extra-margin-bottom {
  margin-bottom: 20px !important;
}

/* Half Margin */
.half-margin {
  margin: 5px !important;
}

.half-margin-left {
  margin-left: 5px !important;
}

.half-margin-right {
  margin-right: 5px !important;
}

.half-margin-top {
  margin-top: 5px !important;
}

.half-margin-bottom {
  margin-bottom: 5px !important;
}

/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/* No Border */
.no-border {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.no-border-top {
  border-top: none;
}

.no-border-right {
  border-right: none;
}

.no-border-bottom {
  border-bottom: none;
}

.no-border-left {
  border-left: none;
}

.border {
  border: 1px solid #222222;
}

.border-top {
  border-top: 1px solid #222222;
}

.border-right {
  border-right: 1px solid #222222;
}

.border-bottom {
  border-bottom: 1px solid #222222;
}

.border-left {
  border-left: 1px solid #222222;
}

/*------------------------------------*\
  $ Positioning
\*------------------------------------*/
/* Relative */
.relative {
  position: relative;
}

/* Absolute */
.absolute {
  position: absolute;
}

/*------------------------------------*\
  $ Display
\*------------------------------------*/
/* Block */
.block {
  display: block;
}

/* Inline block */
.inline-block {
  display: inline-block;
}

/* Inline */
.inline {
  display: inline;
}

/*------------------------------------*\
  $ Cursors
\*------------------------------------*/
/* Pointer */
.pointer {
  cursor: pointer;
}

/*------------------------------------*\
  $ Widths
\*------------------------------------*/
/* 100% */
.full-width {
  width: 100%;
}

/* 66% */
.two-thirds-width {
  width: 66%;
}

/* 50% */
.half-width {
  width: 50%;
}

/* 45% */
.half-width-margin {
  width: 45%;
}

/* 33% */
.third-width {
  width: 33%;
}
