/*------------------------------------*\
  $$ Grid System
\*------------------------------------*/

/*
Requires:
  * SASS
  * Bourbon
  * Neat
Contents:
  * Grid
    * Row
    * Column specific
    * Columns mixin
    * Create the column classes
    * Testing
*/




/*------------------------------------*\
  $ Grid
\*------------------------------------*/

/* 
Row
*/

.row {
  
  // Add the outer container styling
  @include outer-container;

  /*
  Column specific
  */

  .column {
    margin-bottom: $margin*2;
  }

  /*
  Columns mixin
  @param breakpoint {Variable} The target breakpoint
  @param class name {String} The class name
  */

  @mixin menu-item-group($breakpoint, $prefix) {

    @for $i from 1 through $grid-columns {

      @include media($breakpoint) {

        .#{$prefix}-#{$i} {

          @include span-columns($i);

        }

      }

    }

  }

  /*
  Create the column classes
  */

  @include menu-item-group($tiny, 'tiny');
  @include menu-item-group($small, 'small');
  @include menu-item-group($medium, 'medium');
  @include menu-item-group($large, 'large');

  /*
  Testing

  > .column {
    min-height: 50px;
    background-color: $grayLighter;
    margin-bottom: $margin;
  }

  .row .column {
    background-color: $grayLight;
  }

  .row .row .column {
    background-color: $gray;
  }
  */

}