/*------------------------------------*\
$$ Just Checking - Menu
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "../modules/_variables"; 




/*------------------------------------*\
  $ Links
\*------------------------------------*/

a {
	color: darkred;

	&:hover {
		color: $grayDark;
	}
}

.posts,
.projects {
	h2 {
		a {
			text-decoration: none;
			color: $grayDark;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}




.circle-link {
	display: inline-block;
	width: 38px;
	height: 38px;
	border: $border;
	border-radius: 100%;
	text-align: center;
	color: $grayDark;
	line-height: 2.3em;
}

.circle-link:hover {
	border-color: darkred;
	color: darkred;
}