/*------------------------------------*\
$$ Just Checking - Menu
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "../modules/_variables";




.main-menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	border-top: 6px $borderStyle $grayDark;
	background-color: white;
	// background-color: rgba(255,255,255,0.98);
}




/*------------------------------------*\
  $ Main Menu
\*------------------------------------*/

.main-menu,
.main-menu > li {
	margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu {
	display: none;
	// background-color: white;
	// margin-bottom: $margin*4;
	padding: $padding*2 $padding;

	li {
		width: 100%;
		padding: 0 $padding;
		border-top: $borderWidth $borderStyle $borderColour;
		line-height: 2.3em; 

		a {
			//font-family: 'Roboto Slab', serif;
			// width: 100%;
			// display: inline-block;
			text-decoration: none;
			color: #222;
			//font-size: 1.8rem;
			//font-weight: 300;

			i {
				//font-size: 1.6rem;
			}
		}

		a:hover {
			color: darkred;
		}

		// Circle links in top menu
		.circle-link {
			//position: relative;
			//top: .8em;
		}
	}

	li:last-child {
		border-bottom: $borderWidth $borderStyle $borderColour;
	}
}




/*------------------------------------*\
  $ Menu Icon
\*------------------------------------*/

.icon-menu {
	margin: 5px 0; 
	width: 44px;
	height: 44px;
	display: block;
  position: relative;
  padding-left: 1.25em;
  color: $gray;
}

.icon-menu:before {
  content: "";
	position: absolute;
	top: 0.4em;
	left: 0;
	width: 44px;
	height: 0.4em;
	border-top: 1.2em double $grayDark;
	border-bottom: 0.4em solid $grayDark;
}




@media only screen and (min-width: 480px) {

	/* Menu Icon */

	.icon-menu {
		display: none;
	}

	/* Main Menu */

	.main-menu {
		display: block;
		width: 100%;
		// padding: $padding*4 0;

		li {
			width: auto;
			border: none;
			float: left;
			padding: 0 $padding;

			a {
				// width: auto;
				text-decoration: none;
				color: $grayDark;
				//font-size: 1.8rem;
				//font-weight: 300;

				&:hover {
					// font-weight: 500;
				}
			}
		}

		li:first-child {
			padding-left: 0;
		}

		li:last-child {
			border: none;
		}

		.main-menu-active {
			pointer-events: none;
		}

	}

	/* You are here */

	.home .main-menu-active {

		a {
			font-weight: 600;	
		}

	}

	.about .main-menu-active {

		a {
			font-weight: 600;	
		}

	}

	.blog .main-menu-active {

		a {
			font-weight: 600;	
		}

	}

	.contact .main-menu-active {

		a {
			font-weight: 600;	
		}

	}

	.work .main-menu-active {

		a {
			font-weight: 600;	
		}

	}

}