/*------------------------------------*\
	$$ Just Checking - Typography
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Scaffolding
  * Headers
Author(s):
  * Gareth Davies @GarethDavies_Me
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "../modules/_variables";





/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

html,
body { 
	font-size: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: $grayDark;
} 

p,
li,
label,
button,
.highlight {
	font-size: 1em;
	line-height: 1.6em;
	font-weight: 300;
}




/*------------------------------------*\
  $ Headers
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	// letter-spacing: -0.04em;
	// line-height: 6em;
	line-height: 1.2em;
	font-weight: 600;
	margin-bottom: 1em; 
}

h1 {
	letter-spacing: -0.04em;
	font-size: 2.8em;
	margin: $margin*4 0;
	line-height: 1.1em;
	//font-weight: 500;
	text-align: center;
}

.home h1 {
	text-align: left; 
}

h2 { 
	//font-size: 3em; /* =42px */
	// border-bottom: 2px solid;
	// padding-bottom: .4em; 
	// margin-top: 1.4em;
	letter-spacing: -0.02em;
}

h3 {
	margin-top: 1.4em;
	//font-size: 2.4em; /* =26px */
	// line-height: 2.6em;
	// font-weight: 500;
}

h4 { 
	//font-size: 1.8em; /* =26px */
}

h5 { 
	//font-size: 1.6em; /* =26px */
}




.sub-title {
	width: 100%;
	text-align: center;
	margin-top: -1em;
	font-weight: 300;
	font-size: 1.2em;
	border: none;
	line-height: 1.2em;
	letter-spacing: -0.02em;
}



.home .sub-title {
	text-align: left;
	margin-top: 0;
}




/*------------------------------------*\
  $ Styles
\*------------------------------------*/

b { 
	font-weight: 600;
}




/*------------------------------------*\
  $ >768
\*------------------------------------*/

@include media($small) {

	h1 {
		font-size: 3.2em; 
	}

	h2 { 
		font-size: 2em; /* =42px */
	} 

	h3 { 
		font-size: 1.4em; /* =26px */
	}

	h4 { 
		font-size: 1em; /* =26px */
	}

	.sub-title {
		font-size: 1.4em;
	}

}




/*------------------------------------*\
  $ >940
\*------------------------------------*/

@include media($large) {

	h1 {
		font-size: 4em; /* =62px */
	}

	h2 { 
		font-size: 2em; /* =42px */
	} 

	h3 { 
		font-size: 1.4em; /* =26px */
	}

	h4 { 
		font-size: 1em; /* =26px */
	}

	.sub-title {
		font-size: 1.8em;
	}

}