.show-for-large-only {
  display: none;
}

@include media($small) {

  .show-for-large-only {
    display: none;
  }

}

@include media($medium) {

  .show-for-large-only {
    display: none;
  }

}

@include media($large) {

  .show-for-large-only {
    display: inherit;
  }

}