/*------------------------------------*\
$$ Just Checking - Buttons
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "../modules/_variables"; 




/*------------------------------------*\
  $ Buttons
\*------------------------------------*/

button,
.button {
	border: none;
	background: $grayLighter;
	line-height: 2.6em;
	border-bottom: $border;
	min-width: 100px;
	padding: 0 $padding*2;
}

button:hover,
.button:hover {
	border: none;
	background: $grayLight;
}