/*------------------------------------*\
$$ Just Checking - Buttons
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "../bourbon/bourbon";
@import "../modules/_variables"; 




/*------------------------------------*\
  $ Buttons
\*------------------------------------*/

button,
.button {
	border: none;
	@include background-image(linear-gradient(lighten(darkred, 8%) 0, lighten(darkred, 8%) 89%, darkred 90%, darkred 100%));
	color: white;
	line-height: 2.6em;
	min-width: 100px;
	padding: 0 $padding*2;
	border-radius: $borderRadius;

	&:hover {
		background: darkred;
	}
}