/*------------------------------------*\
$$ Just Checking - Buttons
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "../modules/_variables"; 




/*------------------------------------*\
  $ Buttons
\*------------------------------------*/

button,
.button {
	border: none;
	background: darkred; 
	color: white;
	line-height: 2.6em;
	min-width: 100px;
	padding: 0 $padding*2;
	border-radius: $borderRadius;

	&:hover {
		background: $grayDark;
	}
}