/*------------------------------------*\
$$ Just Checking - Menu
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Main Menu
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import "../modules/_variables"; 




/*------------------------------------*\
  $ Links
\*------------------------------------*/

a {
	color: darkred;
}




.circle-link {
	display: block;
	width: 38px;
	height: 38px;
	border: $border;
	border-radius: 100%;
	text-align: center;
	line-height: 3.4rem;
}

.circle-link:hover {
	border-color: darkred;
}