---
layout: default
title: Blog
class: blog
---

<h1>{{ page.title }}</h1>

<div class="Grid Grid--gutters3x Grid--full large-Grid--fit">

  <!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
  
  <div class="Grid-cell">

  	<h2 class="section-header"><a href="{{ post.url }}">{{ post.title }}</a></h2>

		<p><b>{{ post.date | date: "%-d %B %Y" }}</b> | <a href="#">4 Comments</a></p>

		{{ post.excerpt }}

  </div>

	{% if forloop.index == 3 %}

	</div>

	<div class="Grid Grid--gutters3x Grid--full large-Grid--fit padding-bottom">

	{% endif %}

	{% endfor %}

</div>

{% if site.posts | size > site.paginate %}

<!-- Pagination links -->
<div class="pagination full-width border-top extra-margin-top cf">
	<p>
		{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<span class="left">
			<a href="/blog">Newer posts</a>
		</span>
		{% else %}
		<span class="left">
			<a href="/blog/page{{paginator.previous_page}}">Newer posts</a>
		</span>
		{% endif %}
		{% else %}
		<span class="disabled left">
			<a href="#">Newer posts</a>
		</span>
		{% endif %}
		{% if paginator.next_page %}
		<span class="right">
			<a href="/blog/page{{paginator.next_page}}">Older posts</a>
		</span>
		{% else %}
		<span class="disabled right">
			<a href="#">Older posts</a>
		</span>
		{% endif %}
	</p>
</div>

{% endif %}

<!-- <div class="cf">
	
	<p>
		<a href="#" class="left">Older posts</a>
		<a href="#" class="right">Newer posts</a>
	</p>

</div> -->