---
layout: default
title: Work
class: work
---

<h1>{{ page.title }}</h1>

<div class="row">

  {% for project in page.projects %}
  <div class="column large-4 section-header">

  	<h2 class="no-margin"><a href="/work/{{ project[0] }}">{{ project[1].description }}</a></h2>

    <p><a href="/work/{{ project[0] }}">
      {% if project[1].image %}
        <img src="{{ project[1].image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" />
      {% endif %}
    </a></p>

    <p>{{ project[1].short }}</p>

  </div>
  {% endfor %}

</div>

<!-- <h2>Birmingham City University</h2>

<p><img src="/images/work-bcu.png" alt=""></p>

<div class="Grid Grid--gutters3x Grid--full large-Grid--fit section-margin">

  <div class="Grid-cell u-large-1of4">

		<ul class="no-list-styling">
			<li>BackboneJS</li>
			<li>MarionetteJS</li>
			<li>jQuery</li>
			<li>GruntJS</li>
			<li>RequireJS</li>
			<li>SASS</li>
		</ul>

	</div>

  <div class="Grid-cell">

		<p class="no-margin-top">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>

	</div>

</div>

<h2>Just Checking</h2>

<p><img src="/images/work-jc.png" alt=""></p>

<div class="Grid Grid--gutters3x Grid--full large-Grid--fit section-margin">

  <div class="Grid-cell u-1of4">

		<ul class="no-list-styling">
			<li>BackboneJS</li>
			<li>MarionetteJS</li>
			<li>jQuery</li>
			<li>GruntJS</li>
			<li>RequireJS</li>
			<li>SASS</li>
		</ul>

	</div>

  <div class="Grid-cell">

		<p class="no-margin-top">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>

	</div>

</div> -->