/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/

$padding: 10px;
$margin: 10px;




/*------------------------------------*\
  $ Colours
\*------------------------------------*/

$gray: #999;
$grayMid: #666;
$grayDark: #222; 
$grayLight: #ccc;
$grayLighter: #eee;




/*------------------------------------*\
  $ Borders
\*------------------------------------*/

$borderColour: $grayDark;
$borderStyle: solid;
$borderWidth: 1px;
$border: $borderWidth $borderStyle $borderColour;