/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/

/*
Requires:
  * SASS
Contents:
  * Colours
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/

$padding: 10px;
$margin: 10px;