<!doctype html>
<html class="no-js" lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Gareth Davies | {{ page.title }}</title>
  <meta name="description" content="The personal website of Birmingham based designer and developer Gareth Davies">
  <meta name="keywords" content="Gareth Davies, Web designer, Web design, Web applications, Birmingham, West Midlands, HTML, CSS, SASS, JavaScript, Backbone, Marionette">
  <meta name="author" content="Gareth Davies">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="{{ page.class }}">

  <!--[if lt IE 8 ]>

  <div class="container">

    <h1>This is my house! And in my house, we do not use Internet Explorer 8 or below.</h1>

    <p>For more information on what browser you are using, visit <a href="http://whatbrowser.org"></a></p>

    <p>For information on how to upgrade your browser, visit <a href="http://http://browsehappy.com"></a></p>

  </div>

  <![endif]-->

  <!--[if gte IE 8]><!-->

  <header>

    <div class="trophy-wrapper">

      <img src="/images/gareth.png" class="trophy" alt="I'm missing!! Help!">

    </div>

    <div class="main-menu-wrapper full-width border-bottom">

      <div class="container">
      
        <nav>

          <a href="#" id="icon-menu" class="icon-menu"></a>
          
          <ul id="main-menu-large" class="inline-list main-menu main-menu-large clearfix">
            <li class="right"><a href="http://twitter.com/GarethDavies_Me" class="circle-link"><i class="icon-twitter"></i></a></li>
            <li class="right"><a href="tel:+447846861028" class="circle-link"><i class="icon-phone"></i></a></li>
            <li class="right"><a href="mailto:me@garethdavies.me" class="circle-link"><i class="icon-mail"></i></a></li>
            <li{% if page.class == "home" %} class="main-menu-active"{% endif %}>
              <a href="/">Home</a>
            </li>
            <li{% if page.class == "about" %} class="main-menu-active"{% endif %}>
              <a href="/about">About</a>
            </li>
            <li{% if page.class == "work" %} class="main-menu-active"{% endif %}>
              <a href="/work">Work</a>
            </li>
            <li{% if page.class == "blog" %} class="main-menu-active"{% endif %}>
              <a href="/blog">Blog</a>
            </li>
            <li{% if page.class == "contact" %} class="main-menu-active"{% endif %}>
              <a href="/contact">Contact</a>
            </li>
            
          </ul>

          <ul id="main-menu-small" class="inline-list main-menu main-menu-small clearfix">
            <li{% if page.class == "home" %} class="main-menu-active"{% endif %}>
              <a href="/"><i class="icon-right-open right"></i> Home</a>
            </li>
            <li{% if page.class == "about" %} class="main-menu-active"{% endif %}>
              <a href="/about"><i class="icon-right-open right"></i> About</a>
            </li>
            <li{% if page.class == "work" %} class="main-menu-active"{% endif %}>
              <a href="/work"><i class="icon-right-open right"></i> Work</a>
            </li>
            <li{% if page.class == "blog" %} class="main-menu-active"{% endif %}>
              <a href="/blog"><i class="icon-right-open right"></i> Blog</a>
            </li>
            <li{% if page.class == "contact" %} class="main-menu-active"{% endif %}>
              <a href="/contact"><i class="icon-right-open right"></i> Contact</a>
            </li>
          </ul>

        </nav>

      </div>

    </div>

  </header>

  <div class="container">

    {{ content }}

  </div>

  <script src="/js/vendor/jquery-1.8.2.min.js"></script>
  {% if page.script %}
  <script src="{{ page.script }}"></script>
  {% endif %}
  <script src="/js/script.js"></script>

  <!--<![endif]-->

</body>
</html>
