<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Gareth Davies | {{ page.title }}</title>
  <meta name="description" content="The personal website of Birmingham based designer and developer Gareth Davies">
  <meta name="keywords" content="Gareth Davies, Web designer, Web design, Web apps, Birmingham, West Midlands, HTML, CSS, JavaScript, Backbone, Marionette">
  <meta name="author" content="Gareth Davies">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="{{ page.class }}">

  <header>

    <div class="trophy-wrapper">

      <img src="/images/gareth.png" class="trophy">

    </div>

    <div class="main-menu-wrapper full-width border-bottom">

    <div class="container">
    
      <nav>

        <a href="#" id="icon-menu" class="icon-menu"></a>
        
        <ul id="main-menu" class="inline-list main-menu cf">
          <li class="right"><a href="#" class="circle-link">T</a></li>
          <li{% if page.class == "home" %} class="main-menu-active"{% endif %}>
            <a href="/">Home</a>
          </li>
          <li{% if page.class == "about" %} class="main-menu-active"{% endif %}>
            <a href="/about">About</a>
          </li>
          <li{% if page.class == "work" %} class="main-menu-active"{% endif %}>
            <a href="/work">Work</a>
          </li>
          <li{% if page.class == "blog" %} class="main-menu-active"{% endif %}>
            <a href="/blog">Blog</a>
          </li>
          <li{% if page.class == "contact" %} class="main-menu-active"{% endif %}>
            <a href="/contact">Contact</a>
          </li>
        </ul>

      </nav>

    </div>

    </div>

  </header>

  <div class="container">

    {{ content }}

  </div>

  <script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js
"></script>
  <script src="/js/script.js"></script>

</body>
</html>
