---
layout: default
class: work
---

<h1>{{ page.title }}</h1>

<p class="sub-title">{{ page.subtitle }}</p>

{% if page.image %}
<img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
{% endif %}

<div class="row">
  
  <div class="column large-3">

    <ul class="no-list-styling">
      <li><b>Build with:</b></li>
      {% for item in page.tools %}
      <li>{{ item.name }}</li>
      {% endfor %}
    </ul>

  </div>

  <div class="column large-9">
    
    <p>{{ page.paragraph1 }}</p>

    {% if page.paragraph2 %}
    <p>{{ page.paragraph2 }}</p>
    {% endif %}

    {% if page.paragraph3 %}
    <p>{{ page.paragraph3 }}</p>
    {% endif %}
    
  </div>

</div>
